@use "../../../../../../../styles/colors";
@use "../../../../../../../styles/base";
@use "../../../../../../../styles/mixins";

.ProdFI {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;

  &__img {
    width: 350px;
    height: 350px;
    background-color: colors.$color-light-grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    border-radius: 30px;
  }

  &__category {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px 12px;
    font-size: 0.9375rem;
    color: colors.$color-white;
    background-color: colors.$color-dark-blue;
    border-radius: 8px;
  }

  &__main-info {
    min-width: 430px;
    width: min(60%, 658px);
    padding-left: 80px;
  }

  &__name {
    color: colors.$color-dark-blue;
  }

  span {
    font-size: base.$font-size-text-medium;
  }

  &__add-block {
    margin-top: 35px;

    & > * {
      display: inline-block;
      margin-left: 20px;
    }

    input {
      padding: 20px 20px 20px 35px;
      width: 92px;
      border-radius: 16px;
    }
  }
}

@media screen and (max-width: 1062px) {
  .ProdFI {
    &__img {
      width: 250px;
      height: 250px;
      background-size: contain;
    }

    &__main-info {
      padding-left: 40px;
    }
  }
}

@media screen and (max-width: 734px) {
  .ProdFI {
    align-items: flex-start;

    &__img {
      width: 150px;
      height: 150px;
    }

    &__main-info {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 634px) {
  .ProdFI {
    justify-content: flex-start;

    &__main-info {
      margin-top: 40px;
      padding-left: 0;
    }
  }
}
