@use "../../../styles/base";
@use "../../../styles/colors";
@use "../../../styles/mixins";

.section {
  width: 100%;

  &__preheading {
    display: block;
    font-size: base.$font-size-preheading;
    font-family: base.$font-family-yellowtail;

    &--default {
      color: colors.$color-lime;
    }
  }

  &__text {
    display: block;
    font-size: base.$font-size-text-medium;
    line-height: 1.875rem;
  }

  &--herro-banner {
    padding: 240px 0 240px 12%;
    background-color: colors.$color-light-grey;
    background-image: url(../../../../public/assets/HeroSection/dishes.png),
      url("../../../../public/assets/HeroSection/background-patterns.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-blend-mode: multiply;

    .wrapper {
      max-width: 480px;
    }

    @media screen and (max-width: 1700px) {
      .wrapper {
        background: #ffffffc9;
        border-radius: 30px;
        padding: 19px;
        backdrop-filter: blur(3px);
      }
    }
  }

  &--offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(95%, 680px));
    justify-content: center;
    gap: 35px;
    padding: 150px 0;
  }

  &--about {
    display: flex;
    justify-content: flex-end;
    padding: 130px 215px 115px 200px;
    background-color: colors.$color-light-grey;
    background-image: url("../../../../public/assets/AboutSection/fresh-fruits.png");
    background-repeat: no-repeat;
    background-position: 100px 52px;
    background-blend-mode: multiply;

    .wrapper {
      max-width: 702px;

      & > .section__text {
        margin-top: 15px;
      }
    }

    @media screen and (max-width: 1700px) {
      .wrapper {
        background: #ffffffe3;
        border-radius: 30px;
        padding: 30px;
        backdrop-filter: blur(4px);
      }
    }
  }

  &--product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 100px;
  }

  &--cart {
    padding: 100px 10%;
    background-color: colors.$color-sandy;
    margin: 120px 0;
  }
}

@media screen and (max-width: 1439px) {
  .section {
    &--herro-banner {
      padding: 180px 0 180px 12%;
    }

    &--about {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .section {
    &--herro-banner {
      padding-left: 0;
      display: flex;
      justify-content: center;
    }
  }
}
