.CartProducts {
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__cart-pricing {
    width: fit-content;
    align-self: flex-end;
    margin-right: 5.5%;
  }
}

@media screen and (max-width: 1190px) {
  .CartProducts {
    &__cart-pricing {
      margin-right: 0;
      align-self: center;
    }
  }
}
