// text font sizes
$font-size-text-medium: 1.125rem;
$font-size-text-big: 1.25rem;
$font-size-preheading: 2.25rem;

// font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// fonts
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-yellowtail: "Yellowtail", cursive;
