$color-lime: #7eb693;
$color-dark-blue: #274c5b;
$color-yellowish: #efd372;
$color-grey: #d4d4d4;
$color-light-grey: #f9f8f8;
$color-light-lime: #eff6f1;
$color-dark-grey: #525c60;
$color-white: #fff;
$color-white-overlay: rgba(244, 244, 244, 0.82);
$color-sandy: rgba(253, 176, 45, 0.16);
