@use "colors";
@use "base";

@import "normalize";

:root {
  font-size: 16px;
  font-family: base.$font-family-open-sans;
  color: colors.$color-dark-grey;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: base.$font-family-roboto;
}

h1 {
  font-size: 4.375rem;
}

h2 {
  font-size: 3.125rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.188rem;
}

h5 {
  font-size: 1.875rem;
}

h6 {
  font-size: 1.563rem;
}
