@use "../../../styles/base";
@use "../../../styles/colors";
@use "../../../styles/mixins";

.section {
  width: 100%;

  &__preheading {
    display: block;
    font-size: base.$font-size-preheading;
    font-family: base.$font-family-yellowtail;

    &--default {
      color: colors.$color-lime;
    }
  }

  &__heading {
    color: colors.$color-dark-blue;
    font-family: base.$font-family-roboto;
  }

  &__text {
    display: block;
    font-size: base.$font-size-text-medium;
    line-height: 1.875rem;
  }

  &--herro-banner {
    padding: 240px 0 240px 12%;
    background-color: colors.$color-light-grey;
    background-image: url(../../../../public/assets/HeroSection/dishes.png),
      url("../../../../public/assets/HeroSection/background-patterns.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-blend-mode: multiply;

    .wrapper {
      max-width: 480px;
    }

    .section__heading {
      margin-top: 10px;
      margin-bottom: 22px;
      color: colors.$color-dark-blue;
    }
  }

  &--offers {
    display: flex;
    justify-content: space-between;
    padding: 150px 12%;
  }

  &--about {
    display: flex;
    justify-content: flex-end;
    padding: 130px 215px 115px 200px;
    background-color: colors.$color-light-grey;
    background-image: url("../../../../public/assets/AboutSection/fresh-fruits.png");
    background-repeat: no-repeat;
    background-position: 100px 52px;
    background-blend-mode: multiply;

    .wrapper {
      max-width: 702px;

      & > .section__heading {
        max-width: 500px;
        margin-top: 10px;
      }

      & > .section__text {
        margin-top: 15px;
      }
    }
  }
}
